/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, main, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1.5;
	/* transform: translateZ(0); */
	transition: all 0.5s;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
main{
	width: 100vw;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menuBtn{
	padding: 15px 25px;
	text-align: center;
	width: 20%;
	background-color: #6344f7;
	border-radius: 25px;
	cursor: pointer;
	color: white;
	font-family: sans-serif;
	transition: all 0.5s;
	margin: 20px auto;
}

.menuBtn:hover{
	transform: translateY(-5px);
	transition: all 0.5s;
}

.menuOverlay{
	position: absolute;
	height: 100vh;
	width: 100%;
	background: linear-gradient(180deg,#121924,rgba(18,25,36,0) 700%);
	animation: slideIn 0.5s;

}

@keyframes slideIn {
	from {transform: translateY(-200px); opacity: 0;}
	to { transform: translateY(0); opacity: 1;}
}

@keyframes slideOut {
	from { transform: translateY(0); opacity: 1;}
	to {transform: translateY(-200px); opacity: 0;}
}


/* @media (max-width:767px) {
	.menuBtn{
		display:none;
	}
} */